.login {
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 380px;

  &__form {
    flex-shrink: 0;
    width: 320px;
    position: relative;
    margin-top: 10vh;

    .form-label {
      font-size: 30px;
      margin-bottom: 40px;
      text-align: center;
      font-weight: 800;
    }

    .form-control {
      margin-bottom: 20px;

      &.user-choice-radio {
        margin-bottom: 40px;
      }
    }

    .login-btn {
      width: 100%;
    }
  }
}