.admin-employee-list {
  margin-left: 80px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 24px;
    font-weight: 700;
  }

  .employee-add-btn {
    display: flex;
    justify-content: right;
  }

  .employee-table {
    width: 60vw;
  }
}