.admin-department-list {
  margin-left: 80px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 24px;
    font-weight: 700;
  }

  .department-add-btn {
    display: flex;
    justify-content: right;
  }

  .department-table {
    width: 60vw;
  }


}