main {
  display: flex !important;

  nav {
    width: 280px;
    height: 100vh;
    border-right: 1px solid #e6e6e6;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 40px;
    a { 
      padding: 10px 0;
      display: flex;
      align-items: center;
      color: #b4b4b4;
      &.active {
        color: darkcyan;
        font-weight: 800;
      }
    }
    svg { margin-right: 12px; }
    .logout {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  article {
    padding-top: 60px;
    flex-shrink: 0;

    .admin-attendance-wrap {
      margin-left: 80px;

      .admin-attendance-list {
        h2 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 80px;
        }

        .filter-type {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          .filter-label {
            margin-right: 40px;
          }
        }

        .filter-dept {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .dept-label {
            margin-right: 40px;
          }

          Select {
            width: 400px;
          }

          .chakra-select__wrapper {
            width: 400px;

          }
        }

        .filter-date {
          display: flex;
          align-items: center;
          margin-bottom: 80px;

          .date-label {
            margin-right: 40px;
          }
        }
      }
    }
  }
}