main {
  display: flex !important;

  nav {
    width: 300px;
    height: 1024px;
    background-color: #0987A0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    padding-top: 60px;
    padding-left: 60px;
  }

  article {
    padding-top: 60px;
    flex-shrink: 0;

    .admin-attendance-wrap {
      margin-left: 80px;

      .admin-attendance-list {
        h2 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 80px;
        }

        .filter-type {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          .filter-label {
            margin-right: 40px;
          }
        }

        .filter-dept {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .dept-label {
            margin-right: 40px;
          }

          Select {
            width: 400px;
          }

          .chakra-select__wrapper {
            width: 400px;

          }
        }

        .filter-date {
          display: flex;
          align-items: center;
          margin-bottom: 80px;

          .date-label {
            margin-right: 40px;
          }
        }
      }
    }
  }
}