@mixin pagination-btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-right: 10px;
  border-radius: 3px;
}


.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  button {
    padding-right: 10px;

  }

  span {
    @include pagination-btn;
    border: 1px solid #ddd;
    cursor: pointer;

    &.active {
      @include pagination-btn;
      font-weight: 800;
      background-color: #319795;
      color: #fff;
    }
  }



}