body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --content-width: 1440px;

  /* @media screen and (min-width: 1500px) {
    --content-width: 1440px;
  }

  @media screen and (min-width: 1200px) and (min-width: 1499px) {
    --content-width: 1300px;
  } */

}